!node_modules/adm-zip/**
!node_modules/balanced-match/**
!node_modules/brace-expansion/**
!node_modules/concat-map/**
!node_modules/minimatch/**
!node_modules/semver/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
.direnv/**
.DS_Store
.envrc
.github/**
.gitignore
.vscode-test/**
.vscode/**
.yarnrc
**/.vscode-test.*
**/*.map
**/*.ts
**/eslint.config.mjs
**/tsconfig.json
esbuild.js
flake.lock
flake.nix
node_modules/**
out/**
src/**
vsc-extension-quickstart.md